@layer base {
  body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }

  h1 {
    font-weight: var(--font-bold);
    font-size: 1.75rem; /* 32px */
  }

  h2,
  h3 {
    font-weight: var(--font-semibold);
    font-size: 1.5rem; /* 24px */
  }

  p {
    font-weight: var(--font-normal);
    font-size: 1rem; /* 16px */
  }
}
