@theme {
  /* Backgrounds */
  --color-background-primary: #000000;
  --color-background-secondary: #111111;
  --color-background-surface: #1a1a1a;

  /* Accent */
  --color-brand-accent: #fe5626;

  /* Neutral */
  --color-neutral-secondary: #434343;

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;

  /* Typography */
  --font-inter: "Inter", sans-serif;

  --font-normal: 400;
  --font-semibold: 600;
  --font-bold: 700;

  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.75rem;

  /* Radius */
  --radius-default: 0.75rem;

  /* Layout e Container */
  --layout-container-max-width: 64rem; /* equivalente ao max-w-5xl */
  --layout-container-padding-x: 1.5rem;
  --layout-container-padding-y: 1rem;
  --header-height: 5.5rem;

  /* Breakpoints */
  --breakpoint-mobile: 40rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-desktop: 64rem;
}
